a{
  text-decoration: none;
  color: black;
  }

.knopka-cta-outline {
  padding: 21px 49px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(110, 156, 159);
}
.perejti-na-glavnuju {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(110, 156, 159);
  text-align: center;
  letter-spacing: 0.34px;
}
.shapka {
  padding: 0 0 2px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.logo {
  margin-right: 146px;
  display: flex;
  align-items: center;
}
.dress-1-1 {
  margin-right: 11px;
  padding: 0 3.46px 0 3.47px;
  display: flex;
  align-items: flex-start;
  width: 18.07px;
  height: 25px;
}
.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}
.womazing {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.menju {
  margin-top: 3px;
  margin-right: 209px;
  display: flex;
  align-items: center;
}
.glavnaja {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: black;
  letter-spacing: 0.3px;
}
.glavnaja:not(:last-of-type) {
  margin-right: 45px;
}
.num-7-495-823-54-12 {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: black;
  margin-top: 3px;
  margin-right: 67px;
  letter-spacing: 0.3px;
}
.shopping-bags-1 {
  margin-top: 2px;
  padding: 0.23px 0;
  display: flex;
  align-items: center;
}
.group {
  width: 24px;
  height: 23.54px;
}
.zakaz-zvonka {
  padding: 3px 4px 7px 6px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  right: 228px;
  top: 3px;
}
.telephone-1 {
  padding: 2.55px 2.55px 0 0;
  position: relative;
}
.vector-two {
  width: 38.65%;
  height: 38.65%;
  position: absolute;
  left: 1.13px;
  top: 3.69px;
}
.vector-three {
  width: 16.29%;
  height: 16.29%;
  position: absolute;
  left: 3.37px;
  top: 5.92px;
}
.vector-four {
  width: 100%;
  height: 100%;
  position: relative;
}
.success {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pervyj-jekran {
  margin-bottom: 130px;
  padding: 51px 0 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shapka {
  margin-bottom: 190px;
}
.frame-24 {
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.zakaz-poluchen {
  font-family: "Raleway";
  font-size: 55px;
  font-weight: 500;
  line-height: 61px;
  color: black;
  margin-bottom: 26px;
  letter-spacing: 1.1px;
}
.hlebnye-kroshki {
  display: flex;
  align-items: center;
}
.glavnaja {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: black;
  margin-right: 13px;
  letter-spacing: 0.34px;
}
.zakaz-poluchen-two {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(144, 144, 144, 1);
  letter-spacing: 0.34px;
}
.osnovnoj-kontent {
  margin-bottom: 130px;
  display: flex;
  align-items: center;
}
.forma {
  margin-right: 350px;
  display: flex;
  align-items: center;
}
.bifile-check {
  margin-right: 32px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  width: 72px;
  height: 84px;
}
.group {
  width: 72px;
  height: 84px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.zakaz-uspeshno-oformlen {
  font-family: "Raleway";
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  color: black;
  margin-bottom: 17px;
  letter-spacing: 0.5px;
}
.my-svjazhemsja-s-vami-v-blizhajshee-vremja {
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: black;
  letter-spacing: 0.34px;
}
.futer {
  background-color: antiquewhite;
  padding: 101px 245px 100px;
  display: flex;
  align-items: flex-start;
}
.flex-wrapper-one {
  margin-right: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-6 {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}
.dress-1-1 {
  margin-right: 11px;
  padding: 0 3.46px 0 3.47px;
  display: flex;
  align-items: flex-start;
  width: 18.07px;
  height: 25px;
}
.vector {
  flex: 1;
  align-self: stretch;
  object-fit: cover;
}
.womazing {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.vse-prava-zaschischeny {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: black;
  letter-spacing: 0.26px;
}
.vse-prava-zaschischeny:not(:last-of-type) {
  margin-bottom: 6px;
}
.flex-wrapper-two {
  padding: 3px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-wrapper-two:not(:last-of-type) {
  margin-right: 267px;
}
.frame-7 {
  margin-bottom: 39px;
  display: flex;
  align-items: center;
}
.glavnaja-two {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: rgb(110, 156, 159);
  margin-right: 45px;
  letter-spacing: 0.3px;
}
.magazin {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: black;
  letter-spacing: 0.3px;
}
.magazin:not(:last-of-type) {
  margin-right: 45px;
}
.frame-22 {
  margin-left: 107px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.pal-to {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: black;
  letter-spacing: 0.26px;
}
.pal-to:not(:last-of-type) {
  margin-bottom: 10px;
}
.frame-23 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.num-7-495-823-54-12 {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: black;
  letter-spacing: 0.3px;
}
.num-7-495-823-54-12:not(:last-of-type) {
  margin-bottom: 9px;
}
.socialki {
  margin-bottom: 30px;
  margin-left: 68px;
  display: flex;
  align-items: center;
}
.instagram-1-1 {
  margin-right: 12px;
  width: 22px;
  height: 22px;
  position: relative;
}
.vector-two {
  width: 100%;
  height: 100%;
  position: relative;
}
.vector-three {
  width: 53.91%;
  height: 53.91%;
  position: absolute;
  left: 5.07px;
  top: 5.07px;
}
.group-two {
  width: 1.72px;
  height: 1.72px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: 4.12px;
  top: 4.13px;
}
.vector-four {
  width: 23.33%;
  height: 91.3%;
  margin-right: 12px;
}
.twitter-1-1 {
  padding: 2.16px 0 2.15px;
  display: flex;
  align-items: center;
  width: 23px;
  height: 18.69px;
}
.visa-mastercard-1 {
  width: 68px;
  height: 22px;
  margin-left: 90px;
}